# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1234b0d164d8ac9ed41f4530d286493a04c5684a793c5cafd2b6373bb0412033cd9c6e01f2fc537ae7a842b17794ab6650f5cf6c83d1ce6af43222f89c2d5f7c

test:
  secret_key_base: e9c65133fe0e7b18eb4a76253f25e326282137e76e062769d3d60cf934d618be33f5ab0978812a0d98518155d4526554f040462f7bd4095f4c3ebf11d15d349a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
